.open-sans-Navbar {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.navbar {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #454545;
    padding: 16px 7%;
}
.navbar a {
    margin-right: 4px;
}

a {
    text-decoration: none;
    color: white;
}
a:visited { color:white; text-shadow: 2px 4px 4px rgba(46,91,173,0.6);; }
a:hover { color:white; cursor: pointer; text-shadow: 2px 4px 4px rgba(46,91,173,0.6);}
a:focus { color:white; cursor: pointer; text-shadow: 2px 4px 4px rgba(46,91,173,0.6);}
a:hover, a:active { color:white; cursor: pointer; text-shadow: 2px 4px 4px rgba(46,91,173,0.6);}


.logo {
    border-radius: 85%;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    font-family: "Open Sans", sans-serif;
    color: #ECEBF3;
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.loginButton {
    font-family: "Open Sans", sans-serif;
    background-color: #c80000;
    font-size: 15px;
    padding: 14px 20px;
    border-radius: 20%;
    color: #FFFFFF;
    transition-duration: 0.5s;
}

.loginButton:hover {
    font-family: "Open Sans", sans-serif;
    background-color: #E9DCC9;
    color: black;
    cursor: grab;
}
