body {
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}
.container{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
}
.container.dark {
  background: #222;
}

#root {
  margin: 0;
  padding: 0;
}
